Source: ros-foxy-joint-trajectory-controller
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-cmake-gtest, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-angles, ros-foxy-control-msgs, ros-foxy-controller-interface, ros-foxy-controller-manager, ros-foxy-hardware-interface, ros-foxy-pluginlib, ros-foxy-rclcpp, ros-foxy-rclcpp-lifecycle, ros-foxy-rcutils, ros-foxy-realtime-tools, ros-foxy-test-robot-hardware, ros-foxy-trajectory-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-joint-trajectory-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-angles, ros-foxy-control-msgs, ros-foxy-controller-interface, ros-foxy-hardware-interface, ros-foxy-pluginlib, ros-foxy-rclcpp, ros-foxy-rclcpp-lifecycle, ros-foxy-rcutils, ros-foxy-realtime-tools, ros-foxy-trajectory-msgs, ros-foxy-ros-workspace
Description: Controller for executing joint-space trajectories on a group of joints
